<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgfy.org.mapper.DepartmentMapper">


    <select id="getAll" resultType="com.sgfy.org.domain.Department">
        select td.*,te.username managerName,td1.name parentName from t_department td
        left join t_employee te on te.id = td.manager_id
        left join t_department td1 on td.parent_id = td1.id
        <where>
            <if test="name != null and name != ''">
                and td.name like concat('%',#{name},'%')
            </if>
            <if test="managerId != null and managerId != ''">
                and td.manager_id = #{managerId}
            </if>
            <if test="parentId != null and parentId != ''">
                and td.parent_id = #{parentId}
            </if>
        </where>
    </select>
    <select id="getParentDepts" resultType="com.sgfy.org.domain.Department">
        select * from t_department where id in
        (select parent_id from t_department)
    </select>
</mapper>